a{
    text-decoration-line: none;
    color: burlywood;
    
}
.pointer{
    cursor: pointer;
}
body{
    background-image: url("background img.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-size: 100% 100%;
}
.page{
    display: flex;
    position:absolute;
    width: 100%;
    height: 100%;
}
#navbarre{
    display:flex;
    position: fixed;
    width: 90%;
    height: 60px;
    align-content: center;
    margin: 5%;
    background-image: linear-gradient(to right, rgba(29, 29, 29, 0.4) , rgba(67, 65, 82, 0.4));
    justify-content: center;
    color: burlywood;
}
#navbarre1{
    display:flex;
    position: absolute;
    width: 100%;
    height: 60px;
    align-content: center;
  /*  background-color:red; */
    justify-content: space-between;
}
#navbarre2{
    display:flex;
    position: absolute;
    width: 60%;
    height: 60px;
    align-content: center;
    margin: 0%;
   /* background-color: blue; */
    justify-content: center;
    
}
.nav{
    display: flex;
    position:relative;
    height: 100%;
    width:100px;
   /* background-color: magenta; */
    justify-content: center;
    align-content: center;
    text-align: center;
}
#slidernav{
    justify-content: center;
    align-content: center;
}
#slidernav div{
    display: flex;
    height: 25%;
    width: 51%;
    border-bottom: burlywood solid 2px;
    border-top: solid black 1px;
}

#curtain{
    display:flex;
    position: inherit;
    justify-self: right;
    width: 45%;
    height: 00%;
    background-image: linear-gradient(to right, rgba(29, 29, 29, 0.4) , rgba(67, 65, 82, 0.8));
    margin-left: 45%;
    margin-top: 60px;
    overflow: hidden;
    animation-name: none;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}
#curtain div{
    display: flex;
    position: relative;
    height: 25%;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 9%;
}
.width{
    width: 00%;
}
@keyframes curtainshow {
    00% { height: 00%;}
    100% { height: 40%;}
}
@keyframes curtainhide {
    00% { height: 40%;}
    100% { height: 00%;}
}
.divleft{
    display: flex;
    position: fixed;
    height: 100%;
    width: 33%;
    background-image: linear-gradient(black 70%,rgb(37, 36, 34) 90% ,rgb(73, 69, 63) );
    z-index: -1;
    opacity: 0.9;
    justify-content:start;
    align-content: center;
    color: burlywood;
    text-shadow: black -1px 1px;
}
#d1{
    
    display: flex;
    position: absolute;
    height: 30%;
    width: 50%;
    top: 35%;
    border-top: rgb(71, 71, 71) solid 20px;
    border-bottom: rgb(71, 71, 71) solid 20px;
    border-right: rgb(71, 71, 71) solid 0px;
    border-radius: 50px 100px 120px 0px ;
    left: 2%;
    opacity: 0.3;
}
#r1{
    background-color: cornflowerblu;
    display: flex;
    position: absolute;
    height: 18%;
    width: 45%;
    top: 48%;
    border-top: rgb(71, 71, 71) solid 15px;
    border-bottom: rgb(71, 71, 71) solid 0px;
    border-right: rgb(71, 71, 71) solid 10px;
    border-radius: 50px 100px 150px 0px ;
    left: 45%;
    opacity: 0.3;
}
#r2{
    background-color: cornflowerble;
    display: flex;
    position: absolute;
    height: 15%;
    width: 40%;
    top: 62%;
    border-top: rgb(71, 71, 71) solid 0px;
    border-bottom: rgb(71, 71, 71) solid 15px;
    border-radius: 50px 100px 120px 500px ;
    left: 58%;
    opacity: 0.3;
}
.writing1{
    display: flex;
    font-weight: bolder;
    font-size: 500%;
    position: absolute;
    top: 30%;
    left: 20%;
}
.writing2{
    display: flex;
    font-weight: bolder;
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 20%;
    cursor:text;
}


























@media only screen and (max-width: 500px) {
    body {
        background-size:200% 100% ;
        background-position: 31%;    }
    #navbarre {
        margin: 10% 5%;    
        }
    #navbarre2{
        width: 60%;
        display: none;
    }
    .divleft{
        width: 50%;
    }
    #search{
        display: none;
    }
  }
  @media only screen and (max-width: 700px) and (min-width: 500px){
    body {
        background-size:160% 100% ;
        background-position: 32%;}
        #navbarre2{
            width: 60%;
        }
        #slidernav{
            display: none;
        }
  }
  @media only screen and (min-width: 700px){
        #slidernav{
            display: none;
        }
  }



